/* ======================================
   BASE
====================================== */

.field {
  position: relative;
  width: 100%;
  min-width: 0;
}

/* ======================================
   DISABLED
====================================== */

.field[data-disabled="true"] {
  pointer-events: none;
}

/* ======================================
   LOADING
====================================== */

.field[data-loading="true"] {
  pointer-events: none;
}

/* ======================================
   SPINNER
====================================== */

.field__spinner {
  position: absolute;
  top: 50%;
  right: var(--space-md);
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translateY(-50%);
}
