/* ======================================
   RATIO
====================================== */

.skeleton--1-1 {
  aspect-ratio: 1 / 1;
}

.skeleton--4-3 {
  aspect-ratio: 4 / 3;
}

.skeleton--16-9 {
  aspect-ratio: 16 / 9;
}

/* ======================================
   WRAPPER
====================================== */

.skeleton-wrapper {
  position: relative;

  display: inline-flex;
}

.skeleton-wrapper--full {
  display: flex;

  width: 100%;
}

.skeleton-content--hidden {
  visibility: hidden;
}

.skeleton-wrapper > .skeleton {
  position: absolute;

  inset: 0;
}