/* ======================================
   CLEAR
====================================== */

.search-field__clear {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: 16px;

  height: 16px;

  padding: 0;

  border: none;

  background: transparent;

  color:
    var(--color-text-secondary);

  cursor: pointer;
}