/* ======================================
   BASE
====================================== */

.inline {
  display: flex;
  flex-direction: row;
}

/* ======================================
   GAP
====================================== */

.inline--gap-xs {
  gap: var(--space-xs);
}

.inline--gap-sm {
  gap: var(--space-sm);
}

.inline--gap-md {
  gap: var(--space-md);
}

.inline--gap-lg {
  gap: var(--space-lg);
}

.inline--gap-xl {
  gap: var(--space-xl);
}

.inline--gap-xxl {
  gap: var(--space-xxl);
}

.inline--gap-xxxl {
  gap: var(--space-xxxl);
}