/* ======================================
   ERROR MESSAGE
====================================== */

.error-message {
  line-height: var(--line-normal);
  color: var(--state-danger-text);
}

/* ======================================
     SIZES
  ====================================== */

.error-message--sm {
  font-size: var(--font-xs);
}

.error-message--md {
  font-size: var(--font-sm);
}

.error-message--lg {
  font-size: var(--font-md);
}
