/* ======================================
   BASE
====================================== */

.section {
  width: 100%;
}

/* ======================================
   SPACING
====================================== */

.section--none {
  padding-block: var(--section-spacing-none);
}

.section--xs {
  padding-block: var(--section-spacing-xs);
}

.section--sm {
  padding-block: var(--section-spacing-sm);
}

.section--md {
  padding-block: var(--section-spacing-md);
}

.section--lg {
  padding-block: var(--section-spacing-lg);
}

.section--xl {
  padding-block: var(--section-spacing-xl);
}

.section--2xl {
  padding-block: var(--section-spacing-2xl);
}