/* ======================================
   SWITCH
====================================== */

.switch {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
  pointer-events: none;
}

/* ======================================
   THUMB
====================================== */

.switch__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--control-size) - 8px);
  height: calc(var(--control-size) - 8px);
  color: var(--control-content-color);
  background: var(--control-indicator-color);
  border-radius: 50%;
  transition: transform var(--motion-snappy);
}

/* ======================================
   THUMB CONTENT
====================================== */

.switch__thumb > * {
  flex-shrink: 0;
  width: 80%;
  height: 80%;
}

/* ======================================
   CHECKED
====================================== */

.control:has(.control__input:checked) .switch {
  justify-content: flex-end;
}
