/* ======================================
   SWITCH
====================================== */

.switch {
    width: 100%;
    height: 100%;
  
    display: flex;
  
    align-items: center;
  
    padding: 2px;
  
    box-sizing: border-box;
  
    pointer-events: none;
  }
  
  
  /* ======================================
     THUMB
  ====================================== */
  
  .switch__thumb {
    width:
      calc(var(--control-size) - 8px);
  
    height:
      calc(var(--control-size) - 8px);
  
    border-radius: 50%;
  
    background:
      var(--control-indicator-color);
  
    transition:
      transform var(--motion-snappy);
  }
  
  
  /* ======================================
     CHECKED
  ====================================== */
  
  .control:has(.control__input:checked)
  .switch {
    justify-content: flex-end;
  }