/* ======================================
   BASE
====================================== */

.laboratory-text {
  margin: 0;
  font-size: var(--font-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-normal);
  overflow-wrap: break-word;
  white-space: pre-line;
}

/* ======================================
   SIZE
====================================== */

.laboratory-text--size-xs {
  font-size: var(--font-xs);
}

.laboratory-text--size-sm {
  font-size: var(--font-sm);
}

.laboratory-text--size-md {
  font-size: var(--font-md);
}

.laboratory-text--size-lg {
  font-size: var(--font-lg);
}

.laboratory-text--size-xl {
  font-size: var(--font-xl);
}

.laboratory-text--size-2xl {
  font-size: var(--font-2xl);
}

.laboratory-text--size-3xl {
  font-size: var(--font-3xl);
}

.laboratory-text--size-4xl {
  font-size: var(--font-4xl);
}

.laboratory-text--size-5xl {
  font-size: var(--font-5xl);
}

/* ======================================
   WEIGHT
====================================== */

.laboratory-text--weight-regular {
  font-weight: var(--font-weight-regular);
}

.laboratory-text--weight-medium {
  font-weight: var(--font-weight-medium);
}

.laboratory-text--weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.laboratory-text--weight-bold {
  font-weight: var(--font-weight-bold);
}

/* ======================================
   ALIGN
====================================== */

.laboratory-text--align-start {
  text-align: start;
}

.laboratory-text--align-center {
  text-align: center;
}

.laboratory-text--align-end {
  text-align: end;
}

.laboratory-text--align-justify {
  text-align: justify;
}

/* ======================================
   TRUNCATE
====================================== */

.laboratory-text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}