/* ======================================
   BASE
====================================== */

.card {
  height: 100%;
  overflow: hidden;
}

/* ======================================
   SECTIONS
====================================== */

.card__header,
.card__body,
.card__footer {
  padding: var(--space-lg);
}

/* ======================================
   SIZES
====================================== */

.card--sm .card__header,
.card--sm .card__body,
.card--sm .card__footer {
  padding: var(--space-md);
}

.card--md .card__header,
.card--md .card__body,
.card--md .card__footer {
  padding: var(--space-lg);
}

.card--lg .card__header,
.card--lg .card__body,
.card--lg .card__footer {
  padding: var(--space-xl);
}

/* ======================================
   HEADER
====================================== */

.card__header {
  border-bottom: 1px solid var(--surface-card-border);
}

/* ======================================
   BODY
====================================== */

.card__body {
  flex: 1;
}

/* ======================================
   FOOTER
====================================== */

.card__footer {
  border-top: 1px solid var(--surface-card-border);
}

/* ======================================
   FLAT
====================================== */

.card--flat .card__header,
.card--flat .card__footer {
  border: none;
}

/* ======================================
   MEDIA
====================================== */

.card__media {
  width: 100%;
  overflow: hidden;
}

.card__media img {
  display: block;
  width: 100%;
}
