/* ======================================
   BASE
====================================== */

.text {
  margin: 0;

  font-size:
    var(--font-md);

  line-height:
    var(--line-normal);

  font-weight:
    var(--font-weight-regular);

  color:
    var(--color-text-primary);

  overflow-wrap:
    break-word;

  white-space:
    pre-line;
}


/* ======================================
   SIZE
====================================== */

.text--sm {
  font-size:
    var(--font-sm);
}

.text--md {
  font-size:
    var(--font-md);
}


/* ======================================
   VARIANTS
====================================== */

.text--default {
  color:
    var(--color-text-primary);
}

.text--secondary {
  color:
    var(--color-text-secondary);
}

.text--muted {
  color:
    var(--color-text-muted);
}

.text--inverse {
  color:
    var(--color-text-inverse);
}