/* ======================================
   DIVIDER
====================================== */

.divider {
  flex-shrink: 0;
  margin: 0;
  background: var(--surface-divider-color);
  border: none;
}

/* ======================================
     HORIZONTAL
  ====================================== */

.divider--horizontal {
  width: 100%;
  height: 1px;
}

/* ======================================
     VERTICAL
  ====================================== */

.divider--vertical {
  align-self: stretch;
  width: 1px;
}
