/* ======================================
   TYPOGRAPHY
====================================== */

.tefi-typography {
  font-family: var(--font-family-sans);
}

/* ======================================
   SIZE
====================================== */

.tefi-typography--size-xs {
  font-size: var(--font-xs);
}

.tefi-typography--size-sm {
  font-size: var(--font-sm);
}

.tefi-typography--size-md {
  font-size: var(--font-md);
}

.tefi-typography--size-lg {
  font-size: var(--font-lg);
}

.tefi-typography--size-xl {
  font-size: var(--font-xl);
}

.tefi-typography--size-2xl {
  font-size: var(--font-2xl);
}

.tefi-typography--size-3xl {
  font-size: var(--font-3xl);
}

.tefi-typography--size-4xl {
  font-size: var(--font-4xl);
}

.tefi-typography--size-5xl {
  font-size: var(--font-5xl);
}

.tefi-typography--size-6xl {
  font-size: var(--font-6xl);
}

.tefi-typography--size-7xl {
  font-size: var(--font-7xl);
}

/* ======================================
   LINE HEIGHT
====================================== */

.tefi-typography--lineHeight-tight {
  line-height: var(--line-tight);
}

.tefi-typography--lineHeight-normal {
  line-height: var(--line-normal);
}

.tefi-typography--lineHeight-relaxed {
  line-height: var(--line-relaxed);
}

/* ======================================
   WEIGHT
====================================== */

.tefi-typography--weight-regular {
  font-weight: var(--font-weight-regular);
}

.tefi-typography--weight-medium {
  font-weight: var(--font-weight-medium);
}

.tefi-typography--weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.tefi-typography--weight-bold {
  font-weight: var(--font-weight-bold);
}

/* ======================================
   ALIGN
====================================== */

.tefi-typography--align-start {
  text-align: start;
}

.tefi-typography--align-center {
  text-align: center;
}

.tefi-typography--align-end {
  text-align: end;
}

.tefi-typography--align-justify {
  text-align: justify;
}

/* ======================================
   TRANSFORM
====================================== */

.tefi-typography--transform-uppercase {
  text-transform: uppercase;
}

.tefi-typography--transform-lowercase {
  text-transform: lowercase;
}

.tefi-typography--transform-capitalize {
  text-transform: capitalize;
}

/* ======================================
   DECORATION
====================================== */

.tefi-typography--decoration-underline {
  text-decoration: underline;
}

.tefi-typography--decoration-line-through {
  text-decoration: line-through;
}

/* ======================================
   WRAP
====================================== */

.tefi-typography--wrap-wrap {
  white-space: normal;
}

.tefi-typography--wrap-nowrap {
  white-space: nowrap;
}

/* ======================================
   TRUNCATE
====================================== */

.tefi-typography--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}