/* ======================================
   TOGGLE
====================================== */

.password-field__toggle {
    display: inline-flex;
  
    align-items: center;
    justify-content: center;
  
    padding: 0;
  
    border: none;
  
    background: transparent;
  
    color:
      var(--color-text-secondary);
  
    cursor: pointer;
  
    font-size:
      var(--font-md);
  }