/* ======================================
   HELPER TEXT
====================================== */

.helper-text {
  line-height: var(--line-normal);
  color: var(--color-text-secondary);
}

/* ======================================
     SIZES
  ====================================== */

.helper-text--sm {
  font-size: var(--font-xs);
}

.helper-text--md {
  font-size: var(--font-sm);
}

.helper-text--lg {
  font-size: var(--font-md);
}
