/* ======================================
   SIDEBAR CONTENT
====================================== */

.sidebar-content {

    display: flex;
  
    flex: 1;
  
    flex-direction: column;
  
    min-height: 0;
  
    overflow-y: auto;
  
    padding:
      var(--surface-sidebar-padding);
  
  }