/* ======================================
   SPINNER
====================================== */

.tefi-spinner {
  border-top-color: currentcolor;
  animation: tefi-spinner-rotate 0.8s linear infinite;
}

/* ======================================
   ANIMATIONS
====================================== */

@keyframes tefi-spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
