/* ======================================
   CONTENT
====================================== */

.expandable-text__content {
  width: 100%;
}

/* ======================================
   COLLAPSED
====================================== */

.expandable-text__content--collapsed {
  display: -webkit-box;

  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);

  line-clamp: var(--line-clamp);

  text-overflow: ellipsis;
}