/* ======================================
   HEADING
====================================== */

.heading {
  margin: 0;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-tight);
  color: var(--color-text-primary);
  overflow-wrap: break-word;
}

/* ======================================
   SIZES
====================================== */

.heading--xs {
  font-size: var(--font-xs);
}

.heading--sm {
  font-size: var(--font-sm);
}

.heading--md {
  font-size: var(--font-md);
}

.heading--lg {
  font-size: var(--font-lg);
}

.heading--xl {
  font-size: var(--font-xl);
}

.heading--2xl {
  font-size: var(--font-2xl);
}

.heading--3xl {
  font-size: var(--font-3xl);
}

.heading--4xl {
  font-size: var(--font-4xl);
}

.heading--5xl {
  font-size: var(--font-5xl);
}
