/* ======================================
   FORM FIELD
====================================== */

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

/* ======================================
     DISABLED
  ====================================== */

.form-field--disabled {
  opacity: 0.6;
}
